body {
  font-family: "Roboto", sans-serif; }

header {
  margin: 14px 0 14px 0; }

.row {
  margin-right: 0; }

.header__text {
  font-family: "Roboto Medium";
  font-size: 15px; }

.phone__icon, .list__icon {
  width: 30px; }

.list__icon {
  margin-left: 12px; }

.list__text, .phone__number__one, .phone__number__two {
  font-size: 15px;
  font-family: "Roboto Medium"; }

.phone__number__one {
  margin: 0 15px 0 7px; }

.header__phone {
  margin: 0 0 0 -36px; }

.list__counter {
  position: absolute;
  background-color: #ff5639;
  width: 16px;
  height: 16px;
  left: 168px;
  bottom: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: white;
  font-size: 12px; }

.menu__headline, .menu__footer {
  background-color: #ff6123;
  height: 66px;
  margin-right: 0; }

.headline__logo {
  position: absolute;
  top: -60px;
  left: 142px; }

.headline__text {
  font-size: 15px;
  font-family: "Roboto Medium";
  color: black;
  margin: 0 10px 0 -65px; }

.menu__nav, .nav__footer {
  color: white;
  font-family: "Roboto Black";
  font-size: 15px;
  list-style-type: none;
  margin: 0 0 0 330px; }

.nav__item, .footer__nav {
  padding: 21px 15px 21px 15px;
  border-left: 1px solid #ff8555;
  cursor: pointer; }

.nav__item:last-child, .footer__nav:last-child {
  border-right: 1px solid #ff8555; }

.menu__img {
  margin: -2px 0 0 3px; }

.main {
  background: url(../img/slider_img.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 669px;
  z-index: -1; }

.slider__headline {
  margin: 103px 0 22px -180px;
  color: white;
  font-family: "Roboto Light";
  font-size: 45px;
  text-align: center; }

.slider__text {
  color: white;
  font-family: "Roboto Light";
  font-size: 20px;
  text-align: center;
  line-height: 25px; }

hr {
  background-color: white;
  width: 380px; }

.main__read, .company__btn {
  background-color: #ff6123;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  color: white;
  padding: 9px 0;
  width: 200px;
  text-align: center;
  font-size: 18px;
  cursor: pointer; }

.item__ring {
  border: 2px solid #68d935;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 165px;
  height: 164px;
  display: inline-block; }

.features__item {
  margin: 60px 0 57px 38px; }

.ring__img {
  margin: 30% 0 0 0; }

.item__text {
  margin: 25px 0 0 0;
  line-height: 25px;
  font-size: 17px;
  font-family: "Roboto Black"; }

.about__company {
  background-color: #f0f5f9; }

.headline__company, .headline__opportunity {
  color: #ff6123;
  font-size: 45px;
  font-family: "Roboto Medium";
  margin: 0 0 0 80px; }

.text__company, .text__opportunity {
  font-size: 20px;
  font-family: "Roboto Light";
  margin: 30px 0 0 80px;
  color: #222; }

.company__btn {
  margin: 30px 0 60px 80px;
  background-color: #68d935;
  height: 44px;
  width: 233px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer; }

.about__img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5); }

.menu__footer {
  height: 43px; }

.nav__footer {
  margin: 0 0 0 0; }

.footer__nav {
  padding: 10px 10px 10px 10px;
  border: 0;
  font-family: "Roboto Light";
  font-size: 15px; }
  .footer__nav:last-child {
    border-right: 0; }

.footer__associate {
  background: url(../img/bac_associate.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

.associate__headline, .headline__part {
  color: white;
  font-size: 35px;
  font-family: "Roboto Light";
  margin: 20px 0 20px 0; }

.headline__part {
  font-family: "Roboto Black"; }

.associate__text {
  color: white;
  font-size: 20px;
  font-family: "Roboto Medium";
  margin: 0 0 24px 0; }

.footer__text {
  font-size: 12px;
  font-family: "Roboto Light";
  color: #a0a2a3;
  margin: 64px 0 60px 0; }

.footer__btn {
  width: 47px;
  height: 47px;
  background: url(../img/arrow_up.svg);
  background-color: #68d935;
  cursor: pointer; }

.opportunity {
  background-color: #f0f5f9; }

.text__opportunity {
  margin: 30px 0 35px 80px; }
  .text__opportunity:last-child {
    margin: 0 0 60px 80px; }

.opportunity__img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3); }

.opportunity__text {
  margin: 0 0 0 120px; }

.opportunity__quote {
  margin: 66px 0 80px 111px;
  font-family: "Roboto Light";
  font-size: 25px;
  font-style: italic;
  position: relative;
  z-index: 0; }
  .opportunity__quote:after {
    content: url(../img/quote-rgt.png);
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 58px;
    left: 611px; }
  .opportunity__quote:before {
    content: url(../img/quote-lft.png);
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: -16px;
    left: -31px; }

.youtube__video {
  background: url(../img/ytb-bgc.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 385px; }

.ytb__left, .ytb__right {
  width: 68px;
  height: 95px;
  background-color: #ff6123;
  cursor: pointer; }

.arrow__left {
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4); }

.btn__left {
  padding: 0; }

.arrow__right {
  -webkit-transform: scale(0.4) rotate(180deg);
      -ms-transform: scale(0.4) rotate(180deg);
          transform: scale(0.4) rotate(180deg); }
