$rbRegular: "Roboto";

@media (min-width: 576px) {
  .container {
    max-width: 480px;
    }
  }
@media (min-width: 768px) {
  .container {
    max-width: 750px;
    }
  }
@media (min-width: 992px) {
  .container {
    max-width: 970px;
    }
  }
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    }
  }

//Подключение шрифтов
@font-face {
  font-family: "Roboto";
  src:    local("Roboto-Light"),
          url("../fonts/roboto/Roboto-Light.ttf")  format("truetype");
        //url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        //url('Roboto-Regular.woff') format('woff'),
        //url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
  }

@font-face {
  font-family: "Roboto";
  src:    local("Roboto-Regular"),
          url("../fonts/roboto/Roboto-Regular.ttf")  format("truetype");
  //url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  //url('Roboto-Regular.woff') format('woff'),
  //url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: "Roboto";
  src:    local("Roboto-Medium"),
          url("../fonts/roboto/Roboto-Medium.ttf")  format("truetype");
  //url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  //url('Roboto-Regular.woff') format('woff'),
  //url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 500;
  font-style: normal;
  }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"),
  url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  //url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  //url('Roboto-Regular.woff') format('woff'),
  //url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: bold;
  font-style: normal;
  }
//End include font



header {
  margin: 14px 0 14px 0;
  }

.container-fluid {
  padding-right: 0;
  }

.row {
  margin-right: 0;
  }

.header__text {
  font-family: $rbRegular;
  font-weight: 500;
  font-size: 15px;
  }

.phone__icon {
  width: 30px;
  }

.list__icon {
  @extend .phone__icon;
  margin-left: 12px;
  }

.list__text {
  font-family: $rbRegular;
  font-weight: 500;
  font-size: 15px;
  }

.phone__number__one {
  @extend .list__text;
  margin: 0 15px 0 7px;
  }

.phone__number__two {
  @extend .list__text;
  }

.header__phone {
  margin: 0 0 0 -36px;
  }

.list__counter {
  position: absolute;
  background-color: #ff5639;
  width: 16px;
  height: 16px;
  left: 168px;
  bottom: 15px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  }

.menu__headline {
  background-color: #ff6123;
  height: 66px;
  margin-right: 0;
  }

.headline__logo {
  position: absolute;
  top: -60px;
  z-index: 1;
  }

.headline__text {
  font-size: 15px;
  font-weight: 500;
  font-family: $rbRegular;
  color: black;
  margin: 0 10px 0 -65px;
  }

.menu__nav {
  color: white;
  font-family: $rbRegular;
  font-weight: bold;
  font-size: 15px;
  list-style-type: none;
  margin: 0 0 0 200px;
  }

.nav__item {
  padding: 22px 12px 21px 13px;
  border-left: 1px solid #ff8555;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.32);
  }
  &:first-child {
    border-left: 0;
    }
  }

.menu__img {
  margin: -2px 0 0 3px;
  }

.slider__up {
  width: 100%;
  height: 668px;
  z-index: 0;
  position: relative;
  }

.item {
  background-color: rgba(0,0,0,.3);
  height: 100%;
  position: relative;
  }

.slider__headline {
  color: white;
  font-family: $rbRegular;
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  }

.slider__text {
  color: white;
  font-family: $rbRegular;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  }

hr {
  background-color: white;
  width: 380px;
  }


.main__read {
  background-color: #ff6123;
  border-radius: 22px;
  color: white;
  padding: 9px 0;
  width: 200px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 3px 9px rgba(0,0,0,0.32);
  transition: all .2s ease;
  &:hover {
    background-color: lighten(#ff6123, 4%);
    }
  }

.item__ring {
  border: 2px solid #68d935;
  border-radius: 50%;
  width: 165px;
  height: 164px;
  display: inline-block;
  position: relative;
  }

.features__item {
  margin: 60px 0 60px 50px;
  max-width: 20.66667%;
  &:first-child {
    margin-left: 0;
    }
  }

.ring__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.item__text {
  margin-top: 20px;
  line-height: 25px;
  font-size: 17px;
  font-weight: bold;
  font-family: $rbRegular;
  }

.about__company {
  background-color: #f0f5f9;
  }

.headline__company {
  color: #ff6123;
  font-size: 45px;
  font-weight: 500;
  font-family: $rbRegular;
  }

.text__company {
  font-size: 19px;
  font-weight: 300;
  font-family: $rbRegular;
  margin: 30px 0 0 0;
  color: #222;
  }

.company__btn {
  @extend .main__read;
  margin: 30px 0 60px 0;
  background-color: #68d935;
  height: 44px;
  width: 233px;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    background-color: darken(#68d935, 5%);
    }
  }

.about__img {
  transform: scale(1.2);
  }

.menu__footer {
  @extend .menu__headline;
  height: 43px;
  }

.nav__footer {
  @extend .menu__nav;
  margin: 0 0 0 0;
  }

.footer__nav {
  @extend .nav__item;
  padding: 10px 10px 10px 10px;
  border: 0;
  font-family: $rbRegular;
  font-weight: 300;
  font-size: 15px;
  }

.footer__associate {
  background: url(../img/bac_associate.png) no-repeat center center;
  background-size: cover;
  }

.associate__headline {
  color: white;
  font-size: 35px;
  font-weight: 300;
  font-family: $rbRegular;
  margin: 20px 0 20px 0;
  }

.headline__part {
  @extend .associate__headline;
  font-family: $rbRegular;
  font-weight: bold;
  }

.associate__text {
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: $rbRegular;
  margin: 0 0 24px 0;
  }

.footer__text {
  font-size: 12px;
  font-weight: 300;
  font-family: $rbRegular;
  color: #a0a2a3;
  margin: 64px 0 60px 0;
  }

.footer__btn {
  width: 70px;
  height: 70px;
  background-color: #68d935;
  cursor: pointer;
  }

.footer__arrow {
  transform: scale(.4);
  position: absolute;
  }

.opportunity {
  background-color: #f0f5f9;
  }

.headline__opportunity {
  @extend .headline__company;
  margin-left: 80px;
  }

.text__opportunity {
  @extend .text__company;
  margin: 30px 0 35px 80px;
  &:last-child {
    margin: 0 0 60px 80px;
    }
  }

.opportunity__img {
  transform: scale(1.3);
  margin: 15% 0 0 0;
  }

.opportunity__text {
  font-size: 20px;
  }

.opportunity__quote {
  margin: 66px 0 80px 111px;
  font-family: $rbRegular;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  position: relative;
  z-index: 0;
  }

.quote__left {
  position: absolute;
  transform: scale(.1);
  opacity: .5;
  fill: #68d935;
  top: -224px;
  left: -254px;
  z-index: -1;
  width: 480px;
  height: 440px;
  }

.quote__right {
  @extend .quote__left;
  transform: scale(.1) rotate(180deg);
  top: -145px;
  left: 407px;
  }

.slider__down {
  height: 500px;
  }

//Кнопки верхнего слайдера

.up__left {
  width: 68px;
  height: 95px;
  background-color: rgba(0,0,0,.5);
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 1;
  &:hover {
    background-color: rgba(0,0,0,.8);
    }
  }

.up__right {
  @extend .up__left;
  transform: translate(-100%, -50%);
  left: 100%;
  }

//Положение кнопок на нижнем слайдере
.down__left {
  width: 68px;
  height: 95px;
  background-color: #ff6123;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  &:hover {
    background-color: darken(#ff6123, 5%);
    }
  }

.down__right {
  @extend .down__left;
  transform: translate(-100%, -50%);
  left: 100%;
  }


.arrow__left {
  position: absolute;
  transform: translate(0, -50%) scale(.6) rotate(0deg);
  top: 50%;
  }

.arrow__right {
  transform: translate(0, -50%) scale(.6) rotate(180deg);
  position: absolute;
  top: 50%;
  }
//End slider button pos

.btn__right {
  padding-right: 0;
  }

//Стили для проявления точек
.owl-dots {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }

.owl-dot {
  background-color: #D6D6D6;
  margin: 15px 10px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  z-index: 1;
  &:hover {
    background-color: #869791;
    }
  }

.active {
  background-color: #869791;
  }

.inner-img {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  }

//Высота слайдера вверху
.slider__up .owl-item img {
  height: 668px;
  }

//Высота слайдера внизу
.slider__down .owl-item img {
  height: 500px;
  }

//Магнифик попап верхнего сладйера
.slider__up a{
  display: block;
  &:focus {
    outline: none;
    border: 0;
    }
  }

.slider__down a{
  display: block;
  &:focus {
    outline: none;
    border: 0;
    }
  }

.slider__shadow {
  height: 100%;
  background: url(../img/shadow.png) center center no-repeat;
  background-color: rgba(0,0,0,0.3);
  }

//Добавление кнопки плей к элкментам с видео
[class *= "youtube"]:after {
  content: url("../img/ytb-play.png");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }

